:root {
  --pink: #f14e95;
  --lightgold: #ffe2b8;
  --gold: #937a54;
  --greyy: #434343;
  --bg: rgba(0, 0, 0, 0.9);
  --shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

body {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* Section Animasi ----------------------------------------------- */

.animasi,
.hero {
  position: relative;
  min-height: 100vh;
}

/* Section Hero ------------------------------------------------ */

.hero .col-image {
  position: relative;
  width: 70%;
  overflow: hidden;
}

/* Slideshow container */
.hero .slideshow-container {
  /* max-width: 1200px; */
  margin: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Hide the images by default */
.hero .mySlides {
  display: none;
}

/* Next & previous buttons */
.hero .prev,
.hero .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.hero .prev {
  left: 0%;
}

/* Position the "next button" to the right */
.hero .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.hero .prev:hover,
.hero .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation*/
.hero .fade {
  animation-name: fade;
  animation-duration: 0.3s;
}

@keyframes fade {
  from {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}

.hero .col-text {
  position: relative;
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.hero .text-container {
  margin-top: 5rem;
}

.hero h2 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  color: var(--gold);
  text-shadow: var(--shadow);
}

.hero h3 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  color: var(--gold);
  text-shadow: var(--shadow);
  margin-top: -2rem;
  margin-bottom: -1.5rem;
}

.hero h4,
.hero p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.hero h4 {
  font-size: 1.3rem;
  color: var(--gold);
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.hero p {
  font-size: 1.2rem;
  color: var(--gold);
}

.hero .col-btn .btn {
  background-color: var(--gold);
  color: white;
  margin-top: 0;
  margin-bottom: 5vh;
}

.hero .col-btn .btn:hover {
  background-color: white;
  border-color: #666666;
  color: var(--gold);
  margin-top: 0;
  margin-bottom: 5vh;
}

.hero h6 {
  color: rgb(177, 177, 177);
}

/* Section Ar-rum ------------------------------------------------ */

.arrum {
  background-color: var(--gold);
  color: white;
}

.arrum .col-text {
  margin-top: 20%;
  margin-bottom: 20%;
  color: white;
}
.arrum h3 {
  color: white;
}

/* General Style ------------------------------------------------ */

.home .row-judul,
.info .row-judul,
.gallery .row-judul,
.rsvp .row-judul,
.gift .row-judul {
  padding-top: 5rem;
  padding-bottom: auto;
  text-align: center;
}

.home .row-judul h2,
.info .row-judul h2,
.gallery .row-judul h2,
.gift .row-judul h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  line-height: 4rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.rsvp .row-judul h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.home .row-judul h2,
.gallery .row-judul h2,
.gift .row-judul h2 {
  color: var(--gold);
}

.info .row-judul h2,
.rsvp .row-judul h2 {
  color: white;
}

/* Home Section ------------------------------------------------ */

.home {
}

.home .row-judul h2 {
  word-spacing: 0.8rem;
}

/* Gilang dan Chika */

.home .nama h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.home .dan h2 {
  font-family: "Montserrat", cursive;
  font-size: 10rem;
  font-weight: 100;
  padding-bottom: 3rem;
  color: var(--gold);
}

.home h3 {
  font-family: "Montserrat", sans-serif;
}

.home .couple {
  margin-left: 0;
  margin-right: 0;
}

.home .couple h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gold);
}

.home .couple p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #666666;
}

.home .couple img {
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.home .couple .kotak {
  width: 25rem;
}

/* Detail Wedding Date ------------------------------------------------ */

.info {
  background-color: var(--gold);
  color: white;
  min-height: 100vh;
}

.info .deskripsi {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.info .hari {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.info .hari:hover {
  text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.info .alamat {
  font-size: 1.1rem;
  margin-top: -1rem;
}

.info .btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  color: var(--gold) !important;
  background-color: white !important;
}

.info .btn:hover {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white !important;
  background-color: var(--gold) !important;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #dad4cc;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.info .card-header .memo {
  font-style: italic;
  font-size: 0.6rem;
  font-weight: 300;
}

.info .card-body {
  font-size: 1.4rem;
}

.info .card-footer {
  font-size: 0.8rem;
  color: white !important;
}

/* Section Gallery ------------------------------------------------ */

.gallery {
  background-color: #f5f5f5;
  position: relative;
  min-height: 200vh;
}

.gallery .img-fluid:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.7) 0px 0px 10px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Section RSVP ------------------------------------------------ */

.rsvp {
  background-color: var(--gold);
  min-height: 70vh;
  color: white;
}

.rsvp form {
  width: 40vw;
}

.rsvp .btn {
  background-color: var(--gold);
  color: white;
  border: 1px solid white;
}

.rsvp .btn:hover {
  background-color: white;
  color: var(--gold);
  border: 1px solid var(--gold);
}

/* Section Gift ------------------------- */

.gift {
  background-color: white;
  min-height: 50vh;
  color: var(--gold);
}

.gift p {
  font-size: 0.8rem;
}

footer {
  padding: 2rem;
  color: var(--gold);
  font-weight: bold;
  text-decoration: none;
}

.audio-icon-wrapper .bi-pause-circle {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.audio-icon-wrapper .bi-disc {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query */

/* Extra Large */
@media (max-width: 1200px) {
}

/* Web */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
  .home .heart {
    display: none;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .hero .col-image {
    flex: none;
    width: 100%;
    overflow: hidden;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    /* overflow: hidden; */
  }
}

/* Phone */
@media (max-width: 576px) {
  html {
    font-size: 100%;
    min-height: 90vh;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
    margin: 5px;
  }

  .home .row-judul,
  .info .row-judul,
  .gallery .row-judul,
  .rsvp .row-judul {
    padding-top: 2rem;
    padding-bottom: auto;
    text-align: center;
  }

  .home .row-judul h2,
  .info .row-judul h2,
  .gallery .row-judul h2,
  .rsvp .row-judul h2 {
    font-size: 2.8rem;
    line-height: 3rem;
    text-shadow: var(--shadow);
  }

  .hero .col-text {
    position: relative;
    width: 100%;
    margin-top: 15%;
  }

  .home h2 {
    font-family: "Great Vibes", cursive;
    color: var(--gold);
    font-size: 2.5rem;
    line-height: 4rem;
    margin: auto;
    text-shadow: var(--shadow);
    margin-top: 10%;
  }

  .home .couple img {
    width: 50%;
    position: relative;
  }

  .home .gambar {
    margin-bottom: 0px;
  }

  .home .couple h2 {
    font-family: "Great Vibes", cursive;
    font-size: 5rem;
    color: var(--gold);
  }

  .home .couple h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gold);
  }

  .home .couple p {
    font-size: 1.1rem;
    color: #666666;
    line-height: 1.5rem;
  }

  .home .dan h2 {
    font-family: "Montserrat", cursive;
    font-size: 5rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: -1.5rem;
  }

  .info .btn {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }

  .info .card {
    width: 90vw;
  }

  .gallery {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 80vh;
  }

  .rsvp form {
    width: 90vw;
  }

  .gift {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 50vh;
  }

  .audio-icon-wrapper .bi-pause-circle {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    z-index: +1;
  }

  .audio-icon-wrapper .bi-disc {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    z-index: +1;
  }

  footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
